[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "==1.10.2"
spacy = "==3.2.2"
nltk = "==3.7"
sentencepiece = "==0.1.96"
tqdm = "*"
numpy = "*"
pandas = "*"
scikit-learn = "==1.0.2"
transformers = "==4.17.0"
datasets = "==2.0.0"
accelerate = "==0.6.1"
kaggle = "*"

[dev-packages]

[requires]
python_version = "3.8"
